<h2>View notes that you've reviewed</h2>
<div class="jumbotron">
	{{#if final}}
	{{#each final}}
		<p>Author : {{this.author.name}}</p>		
		<p>Subject : {{this.subject}}</p>
		<p>Purpose : {{this.purpose}}</p>
		<p>Budget : {{this.budget}}</p>
		<p>Reviewers : {{this.reviewers}}</p>
		<p>Comments : {{this.comments}}</p>
		<p>Status : {{this.status}}</p>
		<hr>
	{{/each}}
	{{else}}
		<p>You haven't reviewed any notes.</p>
	{{/if}}
</div>