<h2>View your notes</h2>
<div class="jumbotron">
	{{#each notes}}
		<p>Author : {{this.author.name}}</p>		
		<p>Subject : {{this.subject}}</p>
		<p>Purpose : {{this.purpose}}</p>
		<p>Budget : {{this.budget}}</p>
		{{#each reviewers}}
		<li>
			<p>Reviewer : {{this.mail}}</p>
			<p>comments : {{this.comments}}</p>
			<p>Reviewer approval : {{this.approved}}</p>
		</li>
		{{/each}}
		<p>Approval : {{this.status}}</p>
		<hr>
	{{/each}}
</div>
