<h2>View your notes</h2>
<div class="jumbotron">
	{{#each notes}}
		<p>Author : {{this.author.name}}</p>		
		<p>Subject : {{this.subject}}</p>
		<p>Purpose : {{this.purpose}}</p>
		<p>Budget : {{this.budget}}</p>
		<p>Reviewers : {{this.reviewers}}</p>
		<p>Comments : {{this.comments}}</p>
		<p>Status : {{this.status}}</p>
		<hr>
	{{/each}}
</div>