<h2>View your notes</h2>
<div class="jumbotron">
	{{#each notes}}
		<p>Author : {{this.author.name}}</p>		
		<p>Subject : {{this.subject}}</p>
		<p>Purpose : {{this.purpose}}</p>
		<p>Budget : {{this.budget}}</p>
		<table class="table">
			<tbody>
				<tr>
					<td>Reviewer</td>
					<td>comments</td>
					<td>approval</td>
				</tr>
				{{#each reviewers}}
					<tr>
					
						<td>{{this.mail}}</td>
						<td>{{this.comments}}</td>
						<td>{{this.approved}}</td>
					
					</tr>
				{{/each}}
			</tbody>
		</table>
		<p>Approval : {{this.status}}</p>
		<hr>
	{{/each}}
</div>
